@model Assignment2Comp2084.Models.TattooShop

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TattooShop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerAdress)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TattooShopID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
