@model Assignment2Comp2084.Models.TattooShop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TattooShop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattooShopNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattooShopNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TattooShopID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
